@media only screen and (min-width: 900px) {
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }
    .header {
        overflow: hidden;
        width: 100%;
        height: 768px;
        background-image: url(../img/bg_desktop.png);
        background-size: cover;
    }
    .header__button-menu {
        display: none;
    }
    .header__main {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: rgba(198, 108, 73, 0.3);
        padding: 93px 166px 240px 165px;
    }
    .header__main__title {
        display: none;
    }
    .header__main__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 145px;
    }
    .header__main__menu__title {
        display: flex;
        color: white;
        line-height: 29.09px;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }
    
    .header__main__menu__items {
        display: flex;
        width: 47%;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__main__menu__item {
        color: white;
        text-decoration: none;
        line-height: 21.82px;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }

    .header__main__menu__item:first-child{
        font-weight: 700;
    }

    .header__main__greeting {
        color: white;
        line-height: 77.57px;
        font-size: 64px;
        font-weight: 400;
        margin-bottom: 26px;
    }

    .header__main__from {
        color: white;
        line-height: 29.09px;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 106px;
    }
    .header__main__latest {
        color: white;
        line-height: 21.82px;
        font-size: 18px;
        font-weight: 400;
    }

    .main__about {
        padding: 89px 167px 115px 166px;
    }

    .main__about__title {
        color: #333333;
        line-height: 29.09px;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 76px;
    }

    .main__about__text {
        margin-bottom: 36px;
        color: #333333;
        line-height: 30px;
        font-size: 18px;
        font-weight: 400;
        text-align: left; 
    }

    .main__about__text:last-child {
        margin-bottom: 18px;
    }

}