@media only screen and (min-width: 900px) {
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
    }
    .header {
        overflow: hidden;
        width: 100%;
        height: 768px;
        background-image: url(../img/bg_desktop.png);
        background-size: cover;
    }
    .header__button-menu {
        display: none;
    }
    .header__main {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: rgba(198, 108, 73, 0.3);
        padding: 93px 166px 240px 165px;
    }
    .header__main__title {
        display: none;
    }
    .header__main__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 145px;
    }
    .header__main__menu__title {
        display: flex;
        color: white;
        line-height: 29.09px;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }
    .header__main__menu__items {
        display: flex;
        width: 47%;
        flex-direction: row;
        justify-content: space-between;
    }
    .header__main__menu__item {
        color: white;
        text-decoration: none;
        line-height: 21.82px;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
    .header__main__menu__item:first-child {
        font-weight: 700;
    }
    .header__main__greeting {
        color: white;
        line-height: 77.57px;
        font-size: 64px;
        font-weight: 400;
        margin-bottom: 26px;
    }
    .header__main__from {
        color: white;
        line-height: 29.09px;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 106px;
    }
    .header__main__latest {
        color: white;
        line-height: 21.82px;
        font-size: 18px;
        font-weight: 400;
    }
    .main__about {
        padding: 89px 167px 115px 166px;
    }
    .main__about__title {
        color: #333333;
        line-height: 29.09px;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 76px;
    }
    .main__about__text {
        margin-bottom: 36px;
        color: #333333;
        line-height: 30px;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
    }
    .main__about__text:last-child {
        margin-bottom: 18px;
    }
    .main__skills {
        display: flex;
        flex-flow: row wrap;
        padding: 93px 165px 145px 165px;
    }
    .main__skills__title {
        color: #333333;
        line-height: 29.09px;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 86px;
        width: 100%;
    }
    .main__skills__profile-photo {
        height: 340px;
        width: 350px;
        margin: 0 115px 0 0;
    }
    .main__skills__table__row__first-column-title {
        text-align: left;
        color: #333333;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        padding: 0 66px 20px 0;
        white-space: nowrap;
    }
    .main__skills__table__row:first-child .main__skills__table__row__first-column-title {
        padding-bottom: 65px;
    }
    .main__skills__table__row__second-column-content {
        vertical-align: top;
        text-align: left;
        color: #333333;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        padding: 0;
        white-space: nowrap;
    }
    .main__skills__table__row:first-child .main__skills__table__row__second-column-content {
        vertical-align: top;
    }
    .main__skills__table__row__second-column-content__progress-bar {
        width: 446px;
        height: 24px;
    }
    .main__skills__table__row:last-child .main__skills__table__row__first-column-title {
        padding-bottom: 0;
    }
    .main__portfolio {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        padding: 93px 165px 145px 165px;
        position: relative;
    }
    .main__portfolio__title {
        width: 100%;
        text-align: left;
        color: #333333;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.09px;
        margin: 0 0 86px 0;
        white-space: nowrap;
    }
    .main__portfolio__subtitle {
        width: 100%;
        text-align: left;
        color: #333333;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        margin: 0 0 48px 0;
        white-space: nowrap;
    }
    .main__portfolio__text {
        width: 349px;
        margin: 0 125px 0 0;
        color: #333333;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: justify;
    }
    .main__portfolio__gallery {
        width: 635px;
        height: 403px;
        margin: 0;
        position: relative;
    }
    .main__portfolio__gallery__item-1 {
        position: relative;
        width: 350px;
        height: 144px;
        top: -91.16px;
    }
    .main__portfolio__gallery__item-2 {
        position: relative;
        width: 255px;
        height: 235px;
        left: 27px;
    }
    .main__portfolio__gallery__item-3 {
        position: relative;
        width: 349px;
        height: 233px;
        top: -68.16px;
    }
    .main__portfolio__gallery__item-4 {
        position: relative;
        width: 255px;
        height: 144px;
        top: -69px;
        left: 27px;
    }
    .main__portfolio__left {
        position: absolute;
        height: 24px;
        width: 24px;
        left: 189px;
        bottom: 145px;
        background-image: url(../img/arrow.png);
        background-size: cover;
        transform: rotate(-90deg)
    }
    .main__portfolio__right {
        position: absolute;
        height: 24px;
        width: 24px;
        left: 231px;
        bottom: 145px;
        background-image: url(../img/arrow.png);
        background-size: cover;
        transform: rotate(90deg)
    }
    .main__contact {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        padding: 93px 347px 189px 165px;
        position: relative;
        justify-content: space-between;
    }
    .main__contact__title {
        width: 100%;
        text-align: left;
        color: #333333;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.09px;
        margin: 0 0 51px 0;
        white-space: nowrap;
    }
    .main__contact__social__list {
        margin: 0;
    }
    .main__contact__social__list:first-child {
        margin-right: 302px;
    }
    .main__contact__social__list__item {
        word-break: break-all;
        list-style: none;
        margin-bottom: 14px;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.82px;
        color: #333333;
    }
    .main__contact__footer {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .main__contact__footer {
        width: 18%;
    }
    .main__contact__footer__item {
        margin-bottom: 14px;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.82px;
        color: #333333;
    }
    .main__contact__up {
        right: -154px;
        top: 262px;
    }
}