<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Porto</title>
</head>

<body>
    <div class="container" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <header>
        <div class="filter">
            <h1>Portfolio</h1>
            <h2>Hi, It’s Théophile Seyrig</h2>
            <h3>Designer from Porto, Portugal</h3>
            <a href="#latest">Latest works</a>
        </div>
    </header>

    <main>
        <section class="about">
            <h1>About</h1>
            <article>
                <p>
                    Lorem ipsum dolor sit amet, Arcu, sed nisi, mi, arcu libero phasellus tincidunt. Rhoncus, diam
                    penatibus
                    aliquet tellus, in rutrum augue. Pellentesque senectus risus consectetur et sed purus sed.
                    Consectetur
                    adipiscing elit. Egestas porttitor nulla nulla egestas odio pharetra egestas aliquet mollis.
                </p>
                <p>
                    Arcu, sed nisi, mi, arcu libero phasellus tincidunt. Rhoncus, diam penatibus aliquet tellus, in
                    rutrum
                    augue. Pellentesque senectus risus consectetur et sed purus sed. Consectetur adipiscing elit.
                    Egestas
                    porttitor nulla nulla egestas odio pharetra egestas aliquet mollis. diam penatibus aliquet tellus,
                    in
                    rutrum augue. Pellentesque.
                </p>
            </article>
        </section>

        <section class="skills">
            <h1>Skills</h1>
            <article>
                <img src="img/Profile Picture.png" alt="Profile photo">
                <table>
                    <tr>
                        <td class="first-column">Profile</td>
                        <td class="second-column">UI / UX Engineer, Front-end Developer</td>
                    </tr>
                    <tr>
                        <td class="first-column">Front-end Dev</td>
                        <td class="second-column">
                            <div class="progress-1">
                                <div class="progress-2"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="first-column">Tools</td>
                        <td class="second-column">HTML, CSS, JS, Bootstrap, React</td>
                    </tr>
                    <tr>
                        <td class="first-column">UI Design</td>
                        <td class="second-column">
                            <div class="progress-1">
                                <div class="progress-1">
                                    <div class="progress-2 p75"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="first-column">Tools</td>
                        <td class="second-column">Adobe PS, AI, XD, Figma, InVision</td>
                    </tr>
                    <tr>
                        <td class="first-column">UX Research</td>
                        <td class="second-column">
                            <div class="progress-1">
                                <div class="progress-1">
                                    <div class="progress-2 p85"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="first-column">Tools</td>
                        <td class="second-column">Paper, Pen, Balsamiq</td>
                    </tr>
                </table>
            </article>
        </section>

        <section class="portfolio">
            <h1>Portfolio</h1>
            <h3>UX Research</h3>
            <article>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac dictum nibh nam odio cursus id. Diam
                    massa semper a tincidunt cursus ultricies lectus eget urna.
                </p>
            </article>
        </section>
    </main>
</body>

</html>