<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style/mobile.css">
    <link rel="stylesheet" type="text/css" href="style/desktop.css">
    <title>Porto</title>
</head>

<body>

    <header class="header">
        <div class="header__button-menu">
            <div class="header__button-menu__item-1"></div>
            <div class="header__button-menu__item-2"></div>
            <div class="header__button-menu__item-3"></div>
        </div>
        <div class="header__main">
            <div class="header__main__menu">
                <h1 class="header__main__menu__title">Portfolio</h1>
                <div class="header__main__menu__items">
                    <a class="header__main__menu__item" href="#">Home</a>
                    <a class="header__main__menu__item" href="#">About</a>
                    <a class="header__main__menu__item" href="#">Skills</a>
                    <a class="header__main__menu__item" href="#">Portfolio</a>
                    <a class="header__main__menu__item" href="#">Contact</a>
                </div>
            </div>
            <h1 class="header__main__title">Portfolio</h1>
            <h2 class="header__main__greeting">Hi, It’s Théophile Seyrig</h2>
            <h3 class="header__main__from">Designer from Porto, Portugal</h3>
            <a class="header__main__latest" href="#latest">Latest works</a>
        </div>
    </header>

    <main class="main">

        <section class="main__about">
            <h1 class="main__about__title">About</h1>
            <p class="main__about__text">
                Lorem ipsum dolor sit amet, Arcu, sed nisi, mi, arcu libero phasellus tincidunt. Rhoncus, diam penatibus aliquet tellus, in rutrum augue. Pellentesque senectus risus consectetur et sed purus sed. Consectetur adipiscing elit. Egestas porttitor nulla nulla
                egestas odio pharetra egestas aliquet mollis.
            </p>
            <p class="main__about__text">
                Arcu, sed nisi, mi, arcu libero phasellus tincidunt. Rhoncus, diam penatibus aliquet tellus, in rutrum augue. Pellentesque senectus risus consectetur et sed purus sed. Consectetur adipiscing elit. Egestas porttitor nulla nulla egestas odio pharetra egestas
                aliquet mollis. diam penatibus aliquet tellus, in rutrum augue. Pellentesque.
            </p>
        </section>

        <section class="main__skills">
            <h1 class="main__skills__title">Skills</h1>
            <img class="main__skills__profile-photo" src="img/Profile Picture.png" alt="Profile photo">
            <table class="main__skills__table">
                <tr class="main__skills__table__row">
                    <td class="main__skills__table__row__first-column-title">Profile</td>
                    <td class="main__skills__table__row__second-column-content">UI / UX Engineer, Front-end Developer</td>
                </tr>
                <tr class="main__skills__table__row">
                    <td class="main__skills__table__row__first-column-title">Front-end Dev</td>
                    <td class="main__skills__table__row__second-column-content">
                        <div class="main__skills__table__row__second-column-content__progress-bar">
                            <div class="main__skills__table__row__second-column-content__progress-bar_progress_64"></div>
                        </div>
                    </td>
                </tr>
                <tr class="main__skills__table__row">
                    <td class="main__skills__table__row__first-column-title">Tools</td>
                    <td class="main__skills__table__row__second-column-content">HTML, CSS, JS, Bootstrap, React</td>
                </tr>
                <tr class="main__skills__table__row">
                    <td class="main__skills__table__row__first-column-title">UI Design</td>
                    <td class="main__skills__table__row__second-column-content">
                        <div class="main__skills__table__row__second-column-content__progress-bar">
                            <div class="main__skills__table__row__second-column-content__progress-bar_progress_76"></div>
                        </div>
                    </td>
                </tr>
                <tr class="main__skills__table__row">
                    <td class="main__skills__table__row__first-column-title">Tools</td>
                    <td class="main__skills__table__row__second-column-content">Adobe PS, AI, XD, Figma, InVision</td>
                </tr>
                <tr class="main__skills__table__row">
                    <td class="main__skills__table__row__first-column-title">UX Research</td>
                    <td class="main__skills__table__row__second-column-content">
                        <div class="main__skills__table__row__second-column-content__progress-bar">
                            <div class="main__skills__table__row__second-column-content__progress-bar_progress_85"></div>
                        </div>
                    </td>
                </tr>
                <tr class="main__skills__table__row">
                    <td class="main__skills__table__row__first-column-title">Tools</td>
                    <td class="main__skills__table__row__second-column-content">Paper, Pen, Balsamiq</td>
                </tr>
            </table>
        </section>

        <section class="main__portfolio">
            <h1 class="main__portfolio__title">Portfolio</h1>
            <h3 class="main__portfolio__subtitle">UX Research</h3>
            <p class="main__portfolio__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac dictum nibh nam odio cursus id. Diam massa semper a tincidunt cursus ultricies lectus eget urna.
            </p>
            <div class="main__portfolio__gallery">
                <img class="main__portfolio__gallery__item-1" src="img/pic1.png" alt="pic1">
                <img class="main__portfolio__gallery__item-2" src="img/pic2.png" alt="pic2">
                <img class="main__portfolio__gallery__item-3" src="img/pic3.png" alt="pic3">
                <img class="main__portfolio__gallery__item-4" src="img/pic4.png" alt="pic4">
            </div>
        </section>

        <section class="main__contact">
            <h1 class="main__contact__title">Get in Touch</h1>
            <div class="main__contact__social">
                <ul class="main__contact__social__list">
                    <li class="main__contact__social__list__item">Dribbble</li>
                    <li class="main__contact__social__list__item">Behance</li>
                    <li class="main__contact__social__list__item">CodePen</li>
                    <li class="main__contact__social__list__item">GitHub</li>
                    <li class="main__contact__social__list__item">Medium</li>
                </ul>
                <ul class="main__contact__social__list">
                    <li class="main__contact__social__list__item">LinkedIn</li>
                    <li class="main__contact__social__list__item">Facebook</li>
                    <li class="main__contact__social__list__item">Instagram</li>
                    <li class="main__contact__social__list__item">Twitter</li>
                </ul>
            </div>

            <div class="main__contact__footer">
                <a class="main__contact__footer__item" href="mailto:seyrig@mailme.com ">seyrig@mailme.com</a>
                <a class="main__contact__footer__item" href="tel:+556645665544 ">+55 6645 665544</a>
                <div class="main__contact__up"></div>
            </div>

        </section>
    </main>
</body>

</html>