@media only screen and (min-width: 1000px) {
    * {
        font-family: 'Libre Franklin', sans-serif;
        margin: 0;
    } 

    header {
        background: url(../img/bg_desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 768px;
        color: white;
        padding-top: 0px;
        text-align: center;
    }

    h1 {
        font-weight: 400;
        font-size: 64px;
        line-height: 77.57px;
        /* margin: 0; */
    }
    h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 29.09px;
        /* margin: 0; */
    }
    h3 {
        font-weight: 400;
        font-size: 18px;
        line-height: 21.82px;
        /* margin: 0; */
    }
    a {
        display: block;
        color: white;
        font-weight: 400;
        font-size: 18px;
        line-height: 21.82px;
        /* margin: 0; */
        padding-top: 41px;
    }

    .container {
        display: none;
    }

    .filter {
        background: rgba(198, 108, 73, 0.3);
        width: 100%;
        height: 100%;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}